# This is an example .env file. Copy this to .env and fill in the values.
# .env should NEVER be committed to git

# Local development database
DB_NAME=sauna.db
DB_PATH=backend/instance/

# Test mode. Set to True to prevent the algorithm from loading JSON files and instead use test data defined in conftest.py. Should be False in production.
TEST_MODE=False